doctype html 
head 
    script(src="./js/script.js" defer) 
    link(rel="stylesheet" href="./css/style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    script(src="./js/ConsoleTask.js") 
    link(rel="shortcut icon" href="#")
    title 
body
  .wrapper 
      section.top 
        img(src="https://cdn-icons-png.freepik.com/256/7396/7396172.png?ga=GA1.1.873319046.1703412485")
        .logo Giggle Gears Garage
        .additional (Note the console have the additional homework result)
      section.body
        .left 
          .items-title The cars available now :
          #buy-items
          #buy-controls
        .right
          .cart 
            .cart-title Your cart :
            #cart-items 
            #cart-controls 
              #cart-total Total: $0
              #checkout Checkout 📲
          .wishlist
            .wishlist-title Your Wishlist :
            #wishlist-items
            #wishlist-controls
              #clear Clear 🚿
      section.bottom(id="footer")


