doctype html 
head 
    script(src="./js/script.js" defer) 
    link(rel="stylesheet" href="./css/style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    script(src="./js/ConsoleTask.js") 
    link(rel="shortcut icon" href="#")
    title 
body
  .wrapper 
      section.top 
        .message
      section.body
        .left 
          #buy-items
            template(id="order-item-template")
              .order-item 
                .oi-info
                  .oii.name 
                  .oii.km 
                  .oii.year 
                  .oii.type 
                  .oii.price
                .oi-controls 
                  input.oic.amount(type="number")
                  .oic.add-cart To cart
                  .oic.add-wish To wishlist

          #buy-controls
        .right
          .cart 
            #cart-items 
              template(id="cart-item-template")
                .cart-item 
                  .ci-info
                    .cii.name Lamborghini 
                    .cii.price 600000
                    .cii.amount 2 pieces
                  .ci-controls 
                    .ci.remove-cart Remove
            #cart-controls 
              #cart-total 2055550$
              button#checkout Checkout
          .wishlist
            template(id="wishlist-item-template")
              .wish-item 
                .wi-info
                  .wii.name Lamborghini 
                  .wii.price 600000
                .wi-controls 
                  .wi.remove-cart Remove
      section.bottom
         


