@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-weight: 500;
  font-size: 1rem;
  color: var(--color);
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1604147706283-d7119b5b822c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.top {
  width: 100%;
  height: 8vh;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: start;
}
section.top img {
  margin-left: 10vw;
  height: 80%;
}
section.top .logo {
  margin-left: 50px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 2em;
}

section.body {
  width: 80vw;
  height: 84vh;
  display: flex;
  flex-direction: row;
}

section.bottom {
  width: 100%;
  height: 8vh;
  background-color: lightgrey;
}
section.bottom .footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  color: grey;
}

.items-title,
.cart-title,
.wishlist-title {
  align-self: center;
  font-weight: 700;
  font-size: 1.3rem;
}

.left {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
}

.right {
  padding-top: 50px;
  height: 100%;
  width: 40%;
  border-left: 1px solid black;
}
.right .cart {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  border-bottom: 1px solid black;
}
.right .cart #cart-items {
  height: 100%;
}
.right .cart #cart-controls {
  display: flex;
  width: auto;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.4039215686);
}
.right .cart #cart-controls #checkout {
  cursor: pointer;
}
.right .wishlist {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}
.right .wishlist #wishlist-items {
  height: 100%;
}
.right .wishlist #wishlist-controls {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: end;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.4039215686);
}
.right .wishlist #wishlist-controls #clear {
  cursor: pointer;
}

.item {
  background-color: rgba(255, 255, 255, 0.4039215686);
  transition: background-color 0.4s;
}
.item:hover {
  background-color: #ffffff;
}

.order-item {
  width: 98%;
  padding: 10px 5px;
  margin: 1%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
}
.order-item .oi-info {
  display: grid;
  width: 75%;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}
.order-item .oi-controls {
  display: flex;
  width: 25%;
  padding: 0 10px;
  justify-content: space-between;
}
.order-item .oi-controls .oic:not(.amount) {
  cursor: pointer;
}
.order-item .oi-controls .oic.amount {
  width: 40px;
}

.cart-item {
  width: 98%;
  padding: 3px 5px;
  margin-left: 2%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
}
.cart-item .ci-info {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
}
.cart-item .remove-cart {
  font-size: 1.1rem;
  cursor: pointer;
}

.wish-item {
  width: 100%;
  padding: 3px 5px;
  margin-left: 2%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
}
.wish-item .wi-info {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
}
.wish-item .remove-wish {
  font-size: 1.1rem;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */