/* 

color palette used:
https://coolors.co/56e39f-59c9a5-bd6b73-3b2c35-2a1f2d

*/

:root {
  --dark: #2a1f2d;
  --light: #3b2c35;
  --accent: #59c9a5;
  --accent-light: #56e39f;
  --error: #e83f50;
}

* {
  color: var(--accent);
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Mono", monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  min-width:500px;
  width: auto !important; 
  width:500px;
  overflow: auto;
  background-color: var(--light);
}

.heading {
  color: var(--accent);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--dark);
  text-align: center;
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 400px;
  padding: 40px;
  border: 1px solid;
  border-radius: 14px;
}
text-align: center;

form .fields {
  display: grid;
  grid-template-columns: auto;
}

form .fields label {
  margin: 10px 0 0 0;
}

form .fields input:focus,
textarea:focus,
select:focus {
  outline: none;
}

form .fields input {
  width: 300px;
  padding: 10px;
  font-size: medium;
  background-color: var(--light);
  border: 0;
  border-bottom: 1px solid var(--accent);
}

form .fields input:invalid {
  border-color: var(--error);
}

form .fields select {
  width: 200px;
  margin: 10px 0;
  font-size: medium;
  background-color: var(--light);
  border: 0;
  border-bottom: 1px solid var(--accent);
}

form .fields textarea {
  width: 400px;
  margin: 10px 0;
  background-color: var(--light);
  border: 0;
  border-bottom: 1px solid var(--accent);
}

input[type="checkbox"] {
  filter: sepia(100%) brightness(80%) hue-rotate(170deg) saturate(70%)
    contrast(300%);
}

input[type="submit"] {
  background-color: var(--accent);
  border: none;
  border-radius: 5px;
  color: var(--dark);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 100ms;
  
}

input[type=submit]:hover { 
    background-color: var(--accent-light); 
    transition-timing-function: ease-in-out;
    transition-duration: 100ms;
} 

input[type=submit]:disabled { 
    background-color: var(--error); 
    transition-timing-function: ease-in-out;
    transition-duration: 100ms;
} 
  
  
.agreement {
  padding: 20px 0;
}

/* Password validation block */

#password-message { 
    /** Hiding the block if not password not in focus*/
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0ms 800ms, opacity 400ms 0ms;
    /** Block properties*/
    display: block;/**none*/
    background: var(--light); 
    color: #000; 
    position: relative; 
    padding: 20px; 
    margin-top: 10px; 
    text-align: left; 
} 

#password-message.visible {
    /** Show the block with animation*/
    height: auto; 
    opacity: 1;
    transition: height 0ms 600ms, opacity 600ms 0ms;
}

#password-message.hide {
    /** Show the block with animation*/
    height: 0; 
    opacity: 0;
    transition: height 0ms 600ms, opacity 600ms 0ms;
}

#password-message h3 { 
    font-size: 15px; 
    margin-top: 0; 
    text-transform: uppercase; 
} 
  
#password-message p { 
    margin: 8px 0; 
} 
  
.valid { 
    color: green; 
} 
  
.valid:before { 
    position: relative; 
    left: -15px; 
    content: "✔"; 
} 
  
.invalid { 
    color: var(--error); 
} 
  
.invalid:before { 
    position: relative; 
    left: -15px; 
    content: "✖"; 
} 
