:root {
  --cell-size: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.wrapper {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.block {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.title-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  background-image: url("https://images.unsplash.com/photo-1517817619047-36c7fc165462?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.title-wrapper {
  display: flex;
  font-size: 10rem;
  flex-direction: row;
}
.title-wrapper .interactive {
  color: red;
}

.history-block {
  display: flex;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1521811628991-7a3ea581f7d1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGJhY2tncm91bmQlMjBwYXBlcnxlbnwwfDB8MHx8fDA%3D");
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}
.history-block .history-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: x-large;
}
.history-block .history-content .quote {
  width: 55%;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.164);
  border-radius: 7%;
  padding: 20px;
}
.history-block .history-content .quote h1 {
  align-self: center;
}
.history-block .history-content .board-place {
  width: 20%;
}

.rules-block {
  display: flex;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1544377193-33dcf4d68fb5?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
.rules-block .rules {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
}

.game-block {
  background-image: url("https://images.unsplash.com/photo-1437419764061-2473afe69fc2?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

.game {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.game .playground {
  display: grid;
  margin: auto;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell,
.first-player,
.reset {
  height: var(--cell-size);
  width: var(--cell-size);
  /* From https://css.glass */
  background-color: rgb(206, 183, 151);
  border: 1px solid rgb(78, 64, 46);
  border-radius: 16px;
  text-align: center;
  justify-content: center;
}
.cell:hover,
.first-player:hover,
.reset:hover {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border: 1px solid rgba(35, 17, 17, 0.79);
  transition-duration: 500ms;
}

.reset,
.first-player {
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
}

.win-block {
  background-color: azure;
}

#message {
  align-self: center;
  font-size: xx-large;
  margin: 20px;
  font-size: 3rem;
  color: azure;
  font-weight: bolder;
}

.X {
  content: "X";
  background-color: blue;
}

.O {
  content: "O";
  background-color: red;
}/*# sourceMappingURL=style.css.map */