:root {
    --cell-size: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.wrapper {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.block {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

.title-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-wrapper {
    display: flex;
    font-size: 10rem;
    flex-direction: row;

    .interactive {
        color: red;
    }
}

.history-block {
    display: flex;
    align-items: center;

    .history-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: x-large;

        .quote {
            width: 55%;
        }

        .board-place {
            width: 35%;
        }
    }
}

.rules-block {
    display: flex;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;


}

// GAME FIELD
.game {
    display: flex;
    flex-direction: column;
    align-content: center;

    .playground {
        display: grid;
        margin: auto;
        align-content: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

.cell,
.first-player,
.reset {
    height: var(--cell-size);
    width: var(--cell-size);
    /* From https://css.glass */
    background-color: rgb(206, 183, 151);
    border: 1px solid rgb(78, 64, 46);
    border-radius: 16px;
    text-align: center;
    justify-content: center;


    &:hover {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.41);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.2px);
        -webkit-backdrop-filter: blur(9.2px);
        border: 1px solid rgba(35, 17, 17, 0.79);
        transition-duration: 500ms;
    }
}

.reset,
.first-player {
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}

.win-block {
    background-color: azure;
}

#message {
    align-self: center;
    font-size: xx-large;
    margin: 20px;
}

.X {
    content: "X";
    background-color: blue;
}

.O {
    content: "O";
    background-color: red;
}