/*{
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1581431886303-0ec49ef43b4f?auto=format&fit=crop&q=80&w=2052&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: right center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.heading {
    margin-bottom: 5rem;
}


.playground {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

 */

:root{

    --cell-size: 100px;
}

* {
    margin: 0;
    padding: 0;
    transform: perspective(800px);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;

}

.section {
    height: 100vh;
    width: 100vw;
}

.section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.section-2-text {
    position: relative;
    padding-left: 10vw;
    font-size: x-large;

}
.playground{
    width: calc(var(--cell-size)*3.05);
    height: calc(var(--cell-size)*3.05);
    border: 1px solid #fff;
    z-index: 2;
}

.playground-1{
    margin-top: calc(150vh - var(--cell-size)*3*0.5);
    position: absolute;
    right: 5vw;

    /* /inside items/  */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    transition: all 2s ease-in-out;
}

.playground-1{
    margin-top: calc(250vh - var(--cell-size)*3*0.5);
    position: absolute;
    right: 50vw;
    transform: translate(50%, 0);
    width: auto;
    /* /inside items/  */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.playground-3{
    margin-top: calc(350vh - var(--cell-size)*3*0.5);
    position: absolute;
    right: 50vw;
    /* /inside items/  */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    transform: translate(50%, 60%) rotateX(50deg) rotateZ(-30deg) scale(1.7);
}

/* ! TO DELETE */
.section-1{
    background-color: beige;
}
.section-2{
    background-color: aqua;
}
.section-3{
    background-color: beige;
}
.section-4{
    background-color: aqua;
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    background: rgba(104, 104, 104, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.8px);
    -webkit-backdrop-filter: blur(10.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: .5rem;
    -webkit-transition: all 500ms;
    -webkit-transition: -webkit-transform 500ms;
    transition: all .5s ease;
}

.cell:hover {
    background-color: aliceblue;
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
}

.board{
    z-index: 1;
    border: 3px solid black;
    width: calc(var(--cell-size)*3.05);
    height: calc(var(--cell-size)*3.05);
    margin-top: calc(350vh - var(--cell-size)*3*0.5);
    position: absolute;
    right: 50vw;
    transform: translate(50%, 60%) rotateX(50deg) rotateZ(-30deg) scale(1.7);
}